.container {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding: 80px;
}

.container ul {
    max-height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    gap: 24px;
    overflow-anchor: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.container ul li {
    width: 95%;
    background-color: var(--medium-gray);
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-radius: 16px;
    cursor: pointer;
    &:hover {
        background-color: rgba(49, 56, 63, 0.8);
    }
}

.container p { 
    margin: 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
}

.container span { 
    font-weight: 400;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}